html {
  scroll-snap-type: y mandatory;
  background-color: black;
}

.app {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: grid;
  place-items: center;
}

.app__videos {
  position: relative;
  height: 90vh;
  
  max-width: 400px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  margin: 5px;
}

.app__videos::-webkit-scrollbar {
  display: none;
}

.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}